
@using MVCGrid.Web
@using IMSWeb.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Clients with mobile
                </h2>
            </div>
            <div class="body table-responsive">

                @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
           {
               MVCGridName = "WithMobile",
               PageSize = true,
               ColumnVisibility = true,
               Export = true,
               GlobalSearch = true
           })
                @Html.MVCGrid("WithMobile")
            </div>
        </div>

    </div>


</div>

