<ul class="list">
    <li class="header">Reports</li>
    <li class="active">
        <a href="@Url.Action("Index", "Home")">
            <i class="material-icons">home</i>
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" class="menu-toggle">
            <i class="material-icons">pie_chart</i>
            <span>Clients</span>
        </a>
        <ul class="ml-menu">
            <li>
                <a href="/ClientReport?type=nonickname">With no nicknames</a>
            </li>
            <li>
                <a href="/ClientReport?type=nonickname">With no birthdays</a>
            </li>
            <li>
                <a href="/ClientReport?type=nonpolicy">With no policies</a>
            </li>
            <li>
                <a href="/ClientReport?type=nonpolicy">Has had travel but don't have medical</a>
            </li>
            <li>
                <a href="/ClientReport?type=bday">Birth Days arrange per month and day</a>
            </li>
        </ul>
    </li>
</ul>